<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="shared/_layout"><!--상단 고정바-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

  <h2>받은 알림</h2>
  <thead>
  <tr>
    <th>보낸사람</th>
    <th>내용</th>
    <th>보낸시각</th>
    <th>읽음 여부</th>
  </tr>
  </thead>
<!--  <tbody>-->
<!--  <tr th:each="JJok:${JJokji}">-->
<!--    <td th:text="${JJok.}"-->
<!--  </tr>-->
<!--  </tbody>-->
</div>


</body>
</html>