<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="shared/_layout">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    View Board
                </div><!--end card header-->
                <div class="card-body">
                    <div class="mb-3" hidden>
                        <label class="form-label" for="board-num">번호</label>
                        <input type="text" id="board-num"  class="form-control" th:value="${board.idx}" readonly/>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" id="board-title"  class="form-control" th:value="${board.b_title}" readonly/>
                            <label class="form-label" for="board-title">제목</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" id="board-writer" class="form-control" th:value="${board.b_nick}+'('+${board.u_id}+')'" readonly>
                            <label class="form-label" >작성자</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" id="board-date" class="form-control" th:value="${board.getReg_date()}" readonly>
                            <label class="form-label" for="board-date">작성일</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea id="board-text" class="form-control" style="height: 300px" rows="10" name="b_contents" maxlength="4000" readonly>[[${board.b_contents}]]</textarea>
                            <label class="form-label" for="board-text">내용</label>
                        </div>
                    </div>

                </div><!--end card body-->
            </div><!--end card-->
            <br>
            <div class="mb-3" align="right">
                <div th:if="${board.u_code}==${#authentication.principal.u_code}">
                    <input type="submit" class="btn btn-outline-secondary" value="수정" th:onclick="|location.href='@{/board/updateForm(idx=${board.idx})}'|"/>
                    <input type="button" class="btn btn-outline-secondary" value="삭제" th:onclick="|location.href='@{/board/delete(idx=${board.idx})}'|"/>
                    <input type="button" class="btn btn-outline-secondary" value="목록" th:onclick="|location.href='@{/board/list(page=${pageRequestDTO.page})}'|"/>
                </div>
                <div th:if="${board.u_code}!=${#authentication.principal.u_code}">
                    <input type="button" class="btn btn-outline-secondary" value="목록" th:onclick="|location.href='@{/board/list(page=${pageRequestDTO.page})}'|"/>
                </div>
                </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end fragment-->

<script>
</script>
</body>
</html>