<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="footmap.footmap_spring.dao.gameDao.GameMapper">

    <!--게임찾기1-->
    <select id="getGameList" resultType="footmap.footmap_spring.dto.gameDto.Game">
        SELECT F.F_NAME, F.F_AREA, G.G_CODE, DATE_FORMAT(G.G_DATE,'%Y년%m월%d일') AS G_DATE,
               TIME_FORMAT(G.G_TIME,'%H시%i분') AS G_TIME, G.G_PEO, G.G_MAGAM, T.T_NAME
        FROM GAMELIST G, FINFO F, TEAM T
        WHERE F.F_CODE = G.F_CODE AND G.G_DUNG = T.T_CODE
    </select>

    <!--게임찾기2-->
    <select id="selectList" resultType="footmap.footmap_spring.dto.gameDto.Game">
        SELECT F.F_NAME, F.F_AREA, G.G_CODE,  DATE_FORMAT(G.G_DATE,'%Y-%m-%d')as G_DATE
        ,TIME_FORMAT(G.G_TIME,'%H:%i')as G_TIME, G.G_PEO, G.G_MAGAM, T.T_NAME
        FROM GAMELIST G, FINFO F, TEAM T
        <include refid="search"></include>
        ORDER BY G_CODE DESC
        LIMIT #{skip},#{size}
    </select>

    <sql id="search">
        <where>
            T.T_CODE=G.G_DUNG AND F.F_CODE =G.F_CODE
            <if test="types != null and types.length>0">
                AND
                <foreach collection="types" item="types" open="(" close=")" separator=" OR ">
                    <if test="types=='a'.toString()">
                        F.F_AREA like concat('%',#{keyword},'%')
                    </if>
                    <if test="types=='n'.toString()">
                        T.T_NAME like concat('%',#{keyword},'%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

    <!--게임 전체 개수 반환-->
    <select id="getCount" resultType="int">
        SELECT COUNT(G.G_CODE)
        FROM GAMELIST G,FINFO F, TEAM T
        <include refid="search"></include>
    </select>

    <!--게임등록-->
    <insert id="addGame" parameterType="footmap.footmap_spring.dto.gameDto.Game">
        INSERT INTO GAMELIST(G_DUNG,G_DATE,G_TIME,G_PEO,G_MAGAM,F_CODE,G_INTRO)
        VALUES( #{g_dung},#{g_date},#{g_time},#{g_peo},1,#{f_code},#{g_intro})
    </insert>

    <!-- 로그인한 유저의 팀정보, 등록한 게임 정보 -->
    <select id="getGameByDung" resultType="footmap.footmap_spring.dto.gameDto.Game" parameterType="int">
        SELECT F.F_NAME, G.G_MAGAM,DATE_FORMAT(G.G_DATE,'%y-%m-%d')as G_DATE
             ,TIME_FORMAT(G.G_TIME,'%H:%i')as G_TIME, G.G_SEARCH,G.G_CODE
        FROM TEAM T, FINFO F, GAMELIST G
        WHERE T.T_CODE=#{T_CODE} AND (F.F_CODE=G.F_CODE AND T.T_CODE=G.G_DUNG);
    </select>

    <!--로그인한 유저의 팀정보, 신청한 게임 정보-->
    <select id="getGameBySearch" resultType="footmap.footmap_spring.dto.gameDto.Game" parameterType="int">
        SELECT F.F_NAME, G.G_MAGAM, DATE_FORMAT(G.G_DATE,'%y-%m-%d')as G_DATE
             ,TIME_FORMAT(G.G_TIME,'%H:%i')as G_TIME, G.G_DUNG,G.G_CODE
        FROM TEAM T, FINFO F, GAMELIST G
        WHERE T.T_CODE=#{T_CODE} AND (F.F_CODE=G.F_CODE AND T.T_CODE=G.G_SEARCH);
    </select>

    <!--지역에 따른 구장 리스트-->
    <select id="getFnameListByArea" resultType="footmap.footmap_spring.dto.gameDto.Game" parameterType="String">
        SELECT F_AREA,F_CODE,F_NAME
        FROM FINFO
        WHERE F_AREA = #{F_AREA}
    </select>

    <!--게임 상세보기 -->
    <select id="getViewGame" resultType="footmap.footmap_spring.dto.gameDto.Game" parameterType="int">
        SELECT T.T_NAME, G.G_CODE,G.G_DUNG,G.G_SEARCH,G.G_DATE,G.G_TIME,G.G_PEO,G.G_MAGAM,F.F_NAME,G.G_INTRO,F.F_AREA,F.F_CODE
        FROM GAMELIST G, FINFO F,TEAM T
        WHERE G.G_CODE = #{G_CODE} AND F.F_CODE = G.F_CODE AND G.G_DUNG = T.T_CODE
    </select>

    <!--게임수정-->
    <update id="writeUpdate" parameterType="footmap.footmap_spring.dto.gameDto.Game">
        UPDATE GAMELIST
        SET F_CODE = #{f_code},G_DATE=#{g_date},G_TIME=#{g_time},G_PEO=#{g_peo},G_INTRO=#{g_intro}
        WHERE G_CODE=#{g_code}
    </update>

    <!--게임삭제-->
    <delete id="deleteGame" parameterType="int">
        DELETE FROM GAMELIST
        WHERE G_CODE = #{g_code}
    </delete>

    <update id="gamecheck" parameterType="footmap.footmap_spring.dto.gameDto.Game">
        UPDATE GAMELIST SET G_MAGAM=2,G_SEARCH=#{t_code} WHERE G_CODE=#{g_code};
    </update>





</mapper>