<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared/_layout">
<html>
<head>
    <title>Event Page</title>
</head>
<body>
<div layout:fragment="content">

    <h2>EVENT</h2>
    <div class="sgd"style="text-align: center">

        <div class="sgssd">
            <div class="indiv">

                <table border="0" class="table table-striped" >
                <thead style="font-weight : bold">
                        <tr style="font-size: large" bgcolor="#f0e68c">
                            <td scope="col">이벤트 제목 </td>
                            <td scope="col">이벤트 내용 </td>
                        </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td> OPEN EVENT </td>
                            <td>22.12.12 부터 한달간 경기 하시는 것을 촬영 해 드립니다!</td>
                        </tr>
                        <tr>
                            <td>신년 이벤트 </td>
                            <td>신년 이벤트 내용</td>
                        </tr>
                         <tr>
                            <td>연말 이벤트</td>
                            <td>연말 이벤트 내용</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>