<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="shared/_layout">

<head>
    <meta charset="UTF-8">
    <title>사이트 이용수칙</title>

</head>
<body>
<div layout:fragment="content">
    <br><br><br>
        <h3 style="padding-left: 15%">매치 진행 및 취소 규정</h3>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <details>
                    <summary style="font-size: 22px">
                        매치 규칙
                    </summary>
                        <p style="background: #b6effb">
                    모든 파울은 사이드라인에서 킥인
                    골키퍼에게 백패스 가능. 손으로는 잡으면 안돼요
                    사람을 향한 태클 금지
                        </p>
                </details>
            </div>
            <div class="col-sm-4">
                <details>
                    <summary style="font-size: 22px">
                        진행 방식
                    </summary>
                        <p style="background: #b6effb">
                풋살화와 개인 음료만 준비하세요
                골키퍼와 휴식을 공평하게 돌아가면서 해요
                        </p>
                </details>
            </div>
            <div class="col-sm-4">
                <details>
                    <summary style="font-size: 22px" >
                       알아두면 좋아요
                    </summary>
                        <p style="background: #b6effb">
                서로 존중하고 격려하며 함께 즐겨요
                풋맵에서는 하루 평균 180경기가 진행되고 있어요 매일 3,000여명이 팀 없이도 풋살을 즐기고 있어요
                        </p>

                </details>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <details>
                    <summary style="font-size: 22px" >
                        일반 취소 규정
                    </summary>
                        <p style="background: #b6effb">매치 시작 1시간 전까지 최소 인원이 모이지 않으면 매치를 취소해요.
                    매치가 취소되면 카카오톡 혹은 LMS를 통해 안내드리고 캐시는 전부 돌려드려요.
                        </p>
                </details>
            </div>
            <div class="col-sm-4">
                <details>
                    <summary style="font-size: 22px">
                        특수 취소 규정(우천)
                    </summary>
                        <p style="background: #b6effb">
                        다수의 인원이 취소하거나, 구장 상태가 좋지 않아 진행이 어렵다면 매치 시작 1시간 이내라도 매치를 취소해요.
                        </p>
                </details>
            </div>
            <div class="col-sm-4">
                <details>
                    <summary style="font-size: 22px" >
                        기타 사항
                    </summary>
                        <p style="background: #b6effb">구장 내에서는 음료 외 다른 음식물 섭취를 금지합니다.
                            운동 후 구장 내부,외부 쓰레기 정리 해주세요.
                            2,4주 일요일에는 마트 휴무로 인해, 마트로 입장이 불가능합니다.
                            참가자분은 주차장 출구쪽을 통해서 입장 부탁 드립니다. (도보, 차량 모두)
                        </p>
                </details>
            </div>
        </div>
    </div>
</div>



</div>

</body>
</html>